<a href="https://colab.research.google.com/github/sudhanshupandey1234/express/blob/master/Copy_of_Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?
Data structures are ways to store and organize data efficiently. They make programs faster and more optimized.

2. Difference between mutable and immutable data types

Mutable data types can be changed after they are created.

Examples: list, dictionary, set

You can add, remove, or modify their elements.

Immutable data types cannot be changed once created.

Examples: int, float, string, tuple

Any change creates a new object instead of modifying the existing one.

3. Differences between lists and tuples.

Lists are mutable, meaning their elements can be modified.

Tuples are immutable, meaning their elements cannot be changed.

Lists use square brackets [ ], while tuples use parentheses ( ).
Lists are generally used for data that needs to change, while tuples are used for fixed data.

4. How dictionaries store data

Dictionaries store data as key-value pairs, internally using hash tables, allowing fast lookup.

5. Why use a set instead of a list?

To remove duplicates

Faster membership checking (in)

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters.
A list is mutable and can store mixed data.

7. How do tuples ensure data integrity?

Tuples are immutable, so values cannot be modified, ensuring safety.

8. What is a hash table & how it relates to dictionaries?

A hash table maps keys → indices using hashing.
Python dictionaries use hash tables internally.

9. Can lists contain different data types?

Yes, lists can store mixed types:
[1, "hello", 3.5]

10. Why are strings immutable?

Because Python stores them in a memory-optimized structure and immutability improves speed and security

11. Advantages of dictionaries over lists

Faster lookup using keys

Stores data in key-value form

No need to remember indexes

12. When is a tuple preferable over a list?

When data should not change, like:

Coordinates

Days of the week

Database records

13. How do sets handle duplicate values?

Sets automatically remove duplicates

14. How does the “in” keyword work differently for lists & dictionaries?

List: checks each element

Dictionary: checks only the keys

15. Can you modify elements of a tuple?

No. Tuples are immutable

16. What is a nested dictionary? Give example

A dictionary inside another dictionary:student = {
  "name": "John",
  "details": {"age": 20, "city": "Delhi"}
}

17. Time complexity of accessing dictionary elements

O(1) average time

18. When are lists preferred over dictionaries?

When order matters or data is simple and indexed

20. Difference between list & dictionary in retrieval

List → uses index

Dictionary → uses key

PRACTICAL QUESTIONS

1. Create a string with your name

In [ ]:
name = "Sudhanshu Pandey"
print(name)

Sudhanshu Pandey

2. Length of "Hello World"

In [ ]:
s = "Hello World"
print(len(s))

11

3. Slice first 3 characters of "Python Programming"

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

4. Convert "hello" to uppercase

In [ ]:
print("hello".upper())

HELLO

5. Replace "apple" with "orange"

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Create list of numbers 1 to 5

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

7. Append 10

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Remove 3

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Access second element

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Reverse list

In [ ]:
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

11. Create tuple

In [ ]:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

12. Access second-to-last element

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Minimum number

In [ ]:
tpl = (10, 20, 5, 15)
print(min(tpl))

5

14. Index of "cat"

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Check if kiwi in tuple

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Create set

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

17. Clear set

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Remove element 4

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Union

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

20. Intersection

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

21. Create a dictionary

In [ ]:
d = {"name": "John", "age": 25, "city": "Delhi"}
print(d)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

22. Add "country"

In [ ]:
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access name

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

24. Remove age

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Check city

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. List + tuple + dictionary

In [ ]:
lst = [1, 2, 3]
tpl = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, tpl, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Random sorted list

In [ ]:
import random
lst = [random.randint(1, 100) for _ in range(5)]
lst.sort()
print(lst)

[18, 23, 74, 81, 96]

28. Third index

In [ ]:
lst = ["apple", "banana", "kiwi", "mango", "orange"]
print(lst[3])

mango

29. Combine dictionaries

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d3 = {**d1, **d2}
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. List to set

In [ ]:
lst = ["apple", "banana", "apple", "mango"]
print(set(lst))

{'banana', 'mango', 'apple'}